@keyframes shrink {
  0% {
    font-size: 18px;
  }

  100% {
    font-size: 16px;
  }
}

html, body {
  background: #191919 !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  height: 100%;
  font-size: 18px;
  position: absolute;
}

/* ######## APP.JS ############ */

.flex-section {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

#left-section {
  width: 50%;
  padding-left: 8rem;
}

#right-section {
  padding: 0;
  margin-top: 0;
  width: 50%;
  height: 100vh;
}

.center-logo {
  width: 100%;
  height: 100%;
}

#shortLogo {
  width: 20rem;
  transition: all 1s ease-in-out;
}

#shortLogo:hover {
  transform: scale(1.1);
}

.special-text {
  display: block;
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
}

#xade-header{
  margin: 3rem 0 2rem 0;
  font-size: 3rem;
}

#tagline, #join-now {
  font-size: 1.5rem;
  opacity: 90%;
}

.show {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  text-align: center;
  width: 15rem;
  height: 2.2rem;
  margin-top: 1rem;
  border-radius: 1rem;
  border: 0px;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

#login-button {
  margin-top: 8rem;
  background-color: #4fbdba;
}

#register-button {
  margin-top: 0;
  position: relative;
  bottom: 5px;
  background-color: #d77fa1;
}

.login-signup-div {
  color: #fff;
  width: 15rem;
  margin: 0.5rem 0 0.5rem 0;
}

#left-hr, #right-hr {
  width: 6.5rem;
  display: inline-block;
  border: 0.02rem ridge #838383;
}

/* #################################### */


#small-shortLogo {
  height: 100%;
}

.adjust-login {
  display: flex;
  min-height: 70vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#login-component {
  width: 100%;
}

.login-info {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  color: #fff;
  margin: 0 0 0 4rem;
}

.login-entries {
  font-size: 1.4rem;
  border: 1px solid rgba(128, 128, 128, 0.5);
  width: 80%;
  margin-top: 1.5rem;
  height: 3.8rem;
  border-radius: 3px;
}

.login-form {
  margin: 1rem 0 0 4rem;
}

.login-label {
  color: #fff;
  font-size: 0.95rem;
  margin: 3px;
  margin-left: 5px;
}

.login-fields {
  background: rgb(15, 15, 15);
  border: none;
  width: 90%;
  height: 1.4rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.4rem;
  color: white;
  margin: 5px;
}

.login-fields:focus {
  outline: none;
}

.form-submit {
  height: 2.5rem;
  width: 8rem;
  border-radius: 10px;
  border: none;
  margin-top: 1.5rem;
}

.short-logo-center {
  display: flex;
  justify-content: center;
  height: 7rem;
  margin-bottom: 0;
}

.center-flex-logo {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* @media (max-width: 850px) {
  html {
    font-size: 11px;
  }

  #left {
    width: 30vw;
  }

  #right {
    width: 40vw;
  }

  .center-flex-logo {
    height: 40vh;
  }
} */

@media (max-width: 1140px) {
  #left-hr, #right-hr {
    width: 6.5rem;
  }
}

@media (max-width: 1140px) {
  /* #left-hr, #right-hr {
    width: 6.5rem;
  } */
}

@media (max-width: 1006px) {
  #right-section,
  #left-section {
    width: 100%;
  }

  .flex-section {
    flex-direction: column;
  }

  html {
    font-size: 14px;
  }
}