@keyframes grow {
  0% {
    font-size: 16px;
  }

  100% {
    font-size: 18px;
  }
}

@keyframes shrink {
  0% {
    font-size: 18px;
  }

  100% {
    font-size: 16px;
  }
}

#root {
  width: 100%;
  height: 100%;
  font-size: 18px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}

body {
  background: #191919;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.flex {
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
}

#right {
  padding: 0;
  margin-top: 0;
  min-width: 50vw;
  height: 100vh;
}

#small-shortLogo {
  height: 100%;
}

.adjust-login {
  display: flex;
  min-height: 70vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#login-component {
  width: 100%;
}

.login-info {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  color: #fff;
  margin: 0 0 0 4rem;
}

.login-entries {
  font-size: 1.4rem;
  border: 1px solid rgba(128, 128, 128, 0.5);
  width: 80%;
  margin-top: 1.5rem;
  height: 3.8rem;
  border-radius: 3px;
}

.login-form {
  margin: 1rem 0 0 4rem;
}

.login-label {
  color: #fff;
  font-size: 0.95rem;
  margin: 3px;
  margin-left: 5px;
}

.login-fields {
  background: rgb(15, 15, 15);
  border: none;
  width: 90%;
  height: 1.4rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.4rem;
  color: white;
  margin: 5px;
}

.login-fields:focus {
  outline: none;
}

.form-submit {
  height: 2.5rem;
  width: 8rem;
  border-radius: 10px;
  border: none;
  margin-top: 1.5rem;
}

.short-logo-center {
  display: flex;
  justify-content: center;
  height: 7rem;
  margin-bottom: 0;
}

.center-flex-logo {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#shortLogo {
  width: 20rem;
  transition: all 1s ease-in-out;
}

#shortLogo:hover {
  transform: scale(1.1);
}

text {
  display: block;
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
}

#xade {
  margin-top: 3rem;
  font-size: 3rem;
}
#tagline {
  margin-top: 2rem;
  opacity: 80%;
}

#joinNow {
  font-size: 1.5rem;
  margin-top: 1rem;
  opacity: 80%;
}

#left {
  min-width: 35vw;
  margin-left: 8rem;
}

.show {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  text-align: center;
  margin-left: 2.15rem;
  width: 15rem;
  height: 2.2rem;
  margin-top: 1rem;
  border-radius: 1rem;
  border: 0px;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

#login-button {
  margin-top: 8rem;
  background-color: #4fbdba;
}

#register-button {
  position: relative;
  bottom: 5px;
  background-color: #d77fa1;
}

hr {
  position: relative;
  top: 6px;
  width: 7rem;
  display: inline-block;
  height: 0px;
  border: 0.01rem ridge #696969;
}
#left-hr {
  margin-left: 1.5rem;
}

#right-hr {
}

sec {
  position: relative;
  color: #fff;
  padding: 10px 3px 0px 3px;
  top: 3px;
}

/* @media (max-width: 850px) {
  html {
    font-size: 11px;
  }

  #left {
    width: 30vw;
  }

  #right {
    width: 40vw;
  }

  .center-flex-logo {
    height: 40vh;
  }
} */

@media (max-width: 850px) {
  #right,
  #left {
    width: 100vw;
  }

  .center-flex-logo {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  html {
    font-size: 14px;
  }

  #left {
    margin: 1rem;
  }
}
